@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
@import url(./layout/normalize.css);
@import url(./layout/base.css);
@import url(./layout/fonts.css);
@import url(./sections/header.css);
@import url(./blocks/logo.css);
@import url(./blocks/menu.css);
@import url(./blocks/contacts.css);
@import url(./sections/hero.css);
@import url(./blocks/btn.css);
@import url(./sections/offers.css);
@import url(./sections/news.css);
@import url(./blocks/pager.css);
@import url(./sections/about.css);
@import url(./sections/footer.css);
@import url(./blocks/socials.css);


.main-page-wrapper {
    background: url(./../img/background1.png) center top no-repeat, url(./../img/background2.png) right bottom no-repeat;
}

.container {
    margin: 0 auto;
    width: 1141px;
}















