.offers {

    margin-bottom: 119px;
    display: flex;
    flex-direction: column;
}

.offers__container{
    display: flex;
    justify-content: space-between;
}

.offers__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 15px;
}

.title__fire {
    display: inline-block;
    position: relative;
    top: -52px;
    left: 287px;
}

.offers__item {
    min-height: 450px;
    background: #fff;
    border-radius: 4px; 
    /* display: inline-block;
    margin-right: 22px; */
    width: calc(100% / 3 - 22px);
    color: #303030;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__header {
    min-height: 144px;
}

.offers__img {
    min-width: 362px;
}

.offers__content {
    padding: 30px 22px;
    /* flex: 1;
    display: flex;
    flex-direction: column; */
}

.offers__title2 {
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 19px;
}

.offers__features{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.offers__feature {
    /* display: inline-block;
    margin-left: 6px;
    margin-right: 23px;
    margin-bottom: 25px; */
    margin-right: 23px;
    vertical-align: top;
}

.offers__feature:last-child {
    margin-right: 0;
}

.offers__ico {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    margin-bottom: 0;
}

/* .ico--calendar {
    width: 20px;
    margin-left: 4px;
}

.ico--breakfast {
    width: 28px;
} */

.offers__ico:last-child {
    margin-right: 0;
}

.feature__text {
    font-size: 16px;
    color: #666666;
}

.offers__text {
    font-size: 14px;
    margin-bottom: 41px;
}

