.news {
    margin-bottom: 100px;
}

.news__title {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 40px;
}

.news__list {
    margin-bottom: 55px;
}

.news__item {
    position: relative;
    width: 445px;
    display: inline-block;
    vertical-align: top;
    border-radius: 4px;
    margin-right: 15px;
    overflow: hidden;
}

.news__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .95;
}

.news__text-content {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 37px 23px;
    min-height: 140px; 
    /* vertical-align: top; */
}

.news__date {
    font-size: 11px;
    margin-bottom: 18px;
}

.news__title2 {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 5px;
}

.news__desc {
    font-size: 13px;
    margin-bottom: 5px;
}